[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "Add your description here"
authors = [
  { name = "{{ author_name }}", email = "{{ author_email }}" },
]
readme = "README.md"
requires-python = ">= 3.9"
dependencies = []

[dependency-groups]
test = [
  "pytest",
  "pytest-cov",
  "pytest-deadfixtures"
]
doc = [
  "sphinx>=6.2.1",
  "pydata-sphinx-theme",
  "sphinx-copybutton",
  "sphinx-design",
  "sphinx-autoapi"
]

post-install-commands =  ["git init {{ project_name }}"]
